langchain
python-dotenv
ipykernel
langchain-community
langchain_ollama
faiss-cpu
pypdf
langchain-openai
langchain-ollama
beautifulsoup4
langchain-groq
langgraph
duckduckgo-search
wikipedia
arxiv
pymupdf
azure-search-documents
azure-identity